<!-- Sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/dashboard" class="brand-link">
    <img src="/images/sinto-logo.png" alt="Sinto Logo"
      class="brand-image"
      style="width:40px; height:40px; opacity:.95;">
    <span class="brand-text font-weight-light">&nbsp;&nbsp;SMARTHR+</span>
  </a>
  <div class="sidebar">
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/hip-finger-scan" class="nav-link">
            <i class="nav-icon fas fa-fingerprint"></i>
            <p>HIP Finger Scan</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/import-timemint" class="nav-link">
            <i class="nav-icon fas fa-clock"></i>
            <p>TimeMint</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/hotel" class="nav-link">
            <i class="nav-icon fas fa-hotel"></i>
            <p>Hotel</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/hip-carpark" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>HIP Carpark</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
